<template name="Docs">
	{{getGithubReadme name="meteor-three-way" owner="convexset"}}
	{{#if githubReadme}}
		{{{githubReadme}}}
	{{else}}
		<div class="ui icon message">
			<i class="repeat loading icon"></i>
			<div class="content">
				<div class="header">
					Just one second
				</div>
				<p>We're fetching that content for you.</p>
				<p>
					Alternatively you can view it at <a href="https://github.com/convexset/meteor-three-way/blob/master/README.md">Github</a>
				</p>
			</div>
		</div>
	{{/if}}
</template>

<template name="CreateOwnDemo">
{{#markdown}}
## Create your own demo
If you want to add a demo to the three-way documentation you can do so by creating your own package with the demo code inside.
More info on [writing and testing your own package](https://themeteorchef.com/recipes/writing-a-package/)

### Updating the main app to include your demo
```javascript
FlowRouterTree.createNode({
	parent: demo,
	name: 'DemoAni1',
	description: 'Basic Demo',
	path: 'Ani1',
	params: {
		content: 'Demo_Ani_1'
	},
});
```

After creating the main template for your demo, add a route to app/lib/routes.js and add the link in app/client/layouts/main-layout.html

```html
<a class="item" href="{{pathFor 'DemoAni1'}}">Basic demo</a>
```

### Naming conventions
When creating a demo template, make sure you namespace it in order to avoid any conflicts. The start template should follow the form of `Demo_Username_YourDemoCount`
{{/markdown}}
</template>
