<template name="Docs">
	{{getGithubReadme name="meteor-three-way" owner="convexset"}}
	{{#if githubReadme}}
		{{{githubReadme}}}
	{{else}}
		<div class="ui icon message">
			<i class="repeat loading icon"></i>
			<div class="content">
				<div class="header">
					Just one second
				</div>
				<p>We're fetching that content for you.</p>
				<p>
					Alternatively you can view it at <a href="https://github.com/convexset/meteor-three-way/blob/master/README.md">Github</a>
				</p>
			</div>
		</div>
	{{/if}}
</template>
